{% extends '../base.html' %}

{% block title %}
Compagnies - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="page-title">🏢 Liste des Compagnies</h2>
    <p class="page-subtitle">{{ compagnies|length }} aéroport{{ compagnies|length|pluralize }} enregistré{{ compagnies|length|pluralize }}</p>
</div>

<div class="grid">
    {% for compagnie in compagnies %}
    <div class="card">
        <div class="card-header">
            <h3 class="title">{{ compagnie.nom }}</h3>
        </div>
        <div class="card-body">
            <div class="info">
                <span class="info-label">Description :</span>
                <span class="info-text">{{ compagnie.description }}</span>
                <span class="info-label">Pays : </span>
                <span class="info-text">{{ compagnie.nom }}</span>
            </div>
        </div>
        <!-- <div class="compagnie-card-footer">
            <a href="#" class="btn btn-primary btn-details">Voir détails</a>
        </div> -->
    </div>
    {% empty %}
    <div class="no-data">
        <p class="no-data-message">Aucune compagnie enregistrée pour le moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}