{% extends '../base.html' %}

{% block title %}
Compagnies - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="page-title">🏢 Liste des Compagnies</h2>
    <p class="page-subtitle">{{ compagnies|length }} compagnie{{ compagnies|length|pluralize }} enregistrée{{ compagnies|length|pluralize }}</p>
    <div class="page-actions">
        <a href="{% url 'compagnie_create' %}" class="btn btn-add">Ajouter une Compagnie</a>
    </div>
</div>

<div class="grid">
    {% for compagnie in compagnies %}
    <div class="card">
        <div class="card-header">
            <h3 class="title">{{ compagnie.nom }}</h3>
        </div>
        <div class="card-body">
            <div class="info">
                <span class="info-label">Description :</span>
                <span class="info-text">{{ compagnie.description }}</span>
                <span class="info-label">Pays : </span>
                <span class="info-text">{{ compagnie.pays_rattachement }}</span>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'compagnie_edit' pk=compagnie.pk %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'compagnie_delete' pk=compagnie.pk %}" class="btn btn-delete">Supprimer</a>
        </div>
    </div>
    {% empty %}
    <div class="no-data">
        <p class="no-data-message">Aucune compagnie enregistrée pour le moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}