{% extends '../base.html' %}

{% block title %}
Avions - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="page-title">✈️ Liste des Avions</h2>
    <p class="page-subtitle">{{ avions|length }} aéroport{{ avions|length|pluralize }} enregistré{{ avions|length|pluralize }}</p>
</div>

<div class="avions-grid">
    {% for avion in avions %}
    <div class="aeroport-card">
        <div class="aeroport-card-header">
            <h3 class="aeroport-nom">{{ avion.nom }}</h3>
        </div>
        <div class="aeroport-card-body">
            <div class="aeroport-info">
                <span class="aeroport-info-label">Modèle :</span>
                <span class="aeroport-pays">{{ avion.type_avion }}</span>
                <span class="aeroport-info-label">Compagnie : </span>
                <span class="aeroport-pays">{{ avion.compagnie.nom }}</span>
            </div>
        </div>
        <!-- <div class="avion-card-footer">
            <a href="#" class="btn btn-primary btn-details">Voir détails</a>
        </div> -->
    </div>
    {% empty %}
    <div class="no-data">
        <p class="no-data-message">Aucun aéroport enregistré pour le moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}