{% extends '../base.html' %}

{% block title %}
Avions - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="page-title">🚀 Liste des Avions</h2>
    <p class="page-subtitle">{{ avions|length }} aéroport{{ avions|length|pluralize }} enregistré{{ avions|length|pluralize }}</p>
</div>

<div class="grid">
    {% for avion in avions %}
    <div class="card">
        <div class="card-header">
            <h3 class="title">{{ avion.nom }}</h3>
        </div>
        <div class="card-body">
            <div class="info">
                <span class="info-label">Modèle :</span>
                <span class="info-text">{{ avion.type_avion }}</span>
                <span class="info-label">Compagnie : </span>
                <span class="info-text">{{ avion.compagnie.nom }}</span>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'avion_edit' pk=avion.pk %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'avion_delete' pk=avion.pk %}" class="btn btn-delete">Supprimer</a>
        </div>
    </div>
    {% empty %}
    <div class="no-data">
        <p class="no-data-message">Aucun avion enregistré pour le moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}