{% extends '../base.html' %}

{% block title %}
Vols - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="page-title">🎫 Liste des Vols</h2>
    <p class="page-subtitle">{{ vols|length }} vol{{ vols|length|pluralize }} enregistré{{ vols|length|pluralize }}</p>
</div>

<div class="grid">
    {% for vol in vols %}
    <div class="card">
        <div class="card-header">
            <h3 class="title">{{ vol.aeroport_depart.pays }} - {{ vol.aeroport_arrivee.pays }}</h3>
        </div>
        <div class="card-body">
            <div class="info">
                <span class="info-label">Avion :</span>
                <span class="info-text">{{ vol.avion.nom }}</span>

                <span class="info-label">Pilote :</span>
                <span class="info-text">{{ vol.pilote }}</span>

                <span class="info-label">Départ :</span>
                <span class="info-text">
                    De {{ vol.aeroport_depart.nom }}
                </br> 
                    À {{ vol.date_heure_depart|date:"d/m/Y H:i" }}
                </span>

                <span class="info-label">Arrivée :</span>
                <span class="info-text">
                    Vers {{ vol.aeroport_arrivee.nom }} 
                </br>
                    À {{ vol.date_heure_arrivee|date:"d/m/Y H:i" }}
                </span>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'vol_edit' pk=vol.pk %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'vol_delete' pk=vol.pk %}" class="btn btn-delete">Supprimer</a>
        </div>
    </div>
    {% empty %}
    <div class="no-data">
        <p class="no-data-message">Aucun vol enregistré pour le moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
