{% extends '../base.html' %}

{% block title %}
pistes - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="page-title">🛬 Liste des Pistes</h2>
    <p class="page-subtitle">{{ pistes|length }} piste{{ pistes|length|pluralize }} enregistré{{ pistes|length|pluralize }}</p>
</div>

<div class="grid">
    {% for piste in pistes %}
    <div class="card">
        <div class="card-header">
            <h3 class="title">{{ piste.numero }}</h3>
        </div>
        <div class="card-body">
            <div class="info">
                <span class="info-label">Aéroport :</span>
                <span class="info-text">{{ piste.aeroport.nom }}</span>
                <span class="info-label">Longueur : </span>
                <span class="info-text">{{ piste.longueur }}</span>
            </div>
        </div>
        <!-- <div class="piste-card-footer">
            <a href="#" class="btn btn-primary btn-details">Voir détails</a>
        </div> -->
    </div>
    {% empty %}
    <div class="no-data">
        <p class="no-data-message">Aucune piste enregistrée pour le moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}